In [2]:
#creation of an empty list
l=list()
l1=[]
print(l)
print(l1)

[]
[]

In [4]:
#user input foe lists
l=[]
n=int(input('ENTER NO OF ELEMNETS'))
for i in range(n):
    i=input('enter the string')
    if i.isdigit():
        l.append(int(i))
    else:
        l.append(i)

ENTER NO OF ELEMNETS2
enter the stringakash
enter the string123
['akash', 123]

In [1]:
#concatenation of two lists
#user input for 1 st lsit
l1=[]
n=int(input('ENTER NO OF ELEMNETS'))
for i in range(n):
    i=input('enter the string')
    if i.isdigit():
        l1.append(int(i))
    else:
        l1.append(i)
print(l1)
#user input foe  2 nd list
l2=[]
n=int(input('ENTER NO OF ELEMNETS'))
for i in range(n):
    i=input('enter the string')
    if i.isdigit():
        l2.append(int(i))
    else:
        l2.append(i)
print(l2)
print(l1+l2)

ENTER NO OF ELEMNETS4
enter the stringakash
enter the string123
enter the string4546
enter the string789
['akash', 123, 4546, 789]
ENTER NO OF ELEMNETS3
enter the stringvarma
enter the string123
enter the string
['varma', 123, '']
['akash', 123, 4546, 789, 'varma', 123, '']

In [3]:
#append function adds an element/item to the list at the end .
#A list may have integers,list,tuple,strings,set,complexnumbers,dictionaries in it
l=[]
l.append('akash')
l.append([1,2,3,4])
l.append(30+45j)
l.append(50.21)
l.append((1,2,3))
l.append({1,2,3})
l.append({'a':97,'b':98})
print(l)

['akash', [1, 2, 3, 4], (30+45j), 50.21, (1, 2, 3), {1, 2, 3}, {'a': 97, 'b': 98}]

In [4]:
#insert function adds an item to the list at the index value that we are providing.
#it takes index and data item as parameter and replaces that dataitem at that index by increasing that index valued element by 1
l=[]
l=[1,2,3,[1,2,3],60.32,'akash']
l.insert(2,{4,5,6})
l

[1, 2, {4, 5, 6}, 3, [1, 2, 3], 60.32, 'akash']

In [6]:
#extend fnction also add elemenmts to the list at end by iterating the iterable item that has passed intoit as parameter
#it takes only iterable elements as parameter ex.integer is not iterable
#string,list,set,tuple,dict are iterable
l=['akash','varma',1,2]
l.extend([99,88,77])
l

['akash', 'varma', 1, 2, 99, 88, 77]

In [21]:
l1=[100,1,55,65,3,1,0, 1, 2, 99, 88, 77]
l1.sort()#sorts the elements in list in ascending order
            #to be sorted all the dataitems should be of samdattype
l2=['akash','keetha','varma']
l2.sort()
print(l1,'  ' ,l2)
l3=[[1,2,3,4],[4,5,6,7],[0,1,2,3]]
l3.sort()
print(l3)
l4=[{'varm':'a','B':'a'}]            #try problem for list
l4.sort()
print(l4)

[0, 1, 1, 1, 2, 3, 55, 65, 77, 88, 99, 100]    ['akash', 'keetha', 'varma']
[[0, 1, 2, 3], [1, 2, 3, 4], [4, 5, 6, 7]]
[{'varm': 'a', 'B': 'a'}]

In [27]:
##removes the last element of list
l=[1,2,3,4,'akash',50+62j]
print(l.pop())#prints the elemnet that is popped
l
#if u pass the parameter then it remobves the dataitem present at that location
l1=[1,2,5,8,'keetha']
print(l1.pop(0))#prints the element that is popped out
l1

(50+62j)

1

In [30]:
#remove function is used to remove the dataitem that u are passing as an argument.if ,
#multiple elements are found then its first occurence willl be removed
l=[1,2,5,6,4,7,1,2,5]
l.remove(2)
l

None

[1, 5, 6, 4, 7, 1, 2, 5]

In [33]:
#reverse function is used to reverse all the listitems
l=['akash','varma',1,2,3,4]
l.reverse()
print(l)

[4, 3, 2, 1, 'varma', 'akash']

In [34]:
#list comprehension
[i for i in 'string']

['s', 't', 'r', 'i', 'n', 'g']

In [35]:
#string comprehension
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [41]:
[i for i in range(int(input() ))if i%2==0 ]

10

[0, 2, 4, 6, 8]

In [46]:
[i for i in range(1,int(input())) if i%2!=0]

10

[1, 3, 5, 7, 9]

In [48]:
['odd' if i%2!=0 else 'even' for i in range(1,int(input())+1)]

10

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [58]:
#copy a list
l=[1,2,3,4,'akash']
l1=l.copy()
l1

[1, 2, 3, 4, 'akash']

In [59]:
#multiple data assignment
l=[1,2,3,4]
l[1:4]=[10,50,60]
l

[1, 10, 50, 60]

In [62]:
l=[None]*10
l

[None, None, None, None, None, None, None, None, None, None]

In [64]:
#delete 
a=[1,2,3,4,5,6]
del a[1]
del a[1:]
a

[1, 3, 4, 5, 6]

In [65]:
my_list = ["Hello", "Python"]
print("-".join(my_list))

Hello-Python

In [72]:
listOne  =  ['a', 'b', 'c', 'd']
listTwo =  ['e', 'f', 'g']
print(newList = listOne.extend(listTwo))

TypeError: 'newList' is an invalid keyword argument for print()